<%- include header %>
<ul style="list-style: none">
    <li><h3><a href="http://localhost:8080/JsonWeb/sqldata.jsp"><img class="imgLink" src="/images/jsonweb.png"/></a></h3></li>
    <li><h3><a href="https://github.com/bj0821?tab=stars"><img class="imgLink" src="/images/gitzjp.png"/></a></h3></li>
    <li><h3><a href="http://localhost:8888"><img class="imgLink" src="/images/upload.png"/></a></h3></li>
</ul>
<%- include footer %>