<%-include header %>
<div class="imgShow" id="imgShow">
<img class="imgLink1" src="/images/banner.png"/>
<div class="loginWrap" id="loginWrap">
	<p class="loginTitle">欢迎登陆</p>
<form method="post">
	<div class="form-group">
		昵称:<input class="form-info" type="text" name="name" />
	</div>
	<div class="form-group">
		密码:<input class="form-info" type="password" name="password" />
	</div>
	<div class="form-control">
		<input class="logincss" type="submit" value="登录" />
	
	</div>
</form>
</div>
</div>
<%-include footer %>
