<%-include header %>
<div class="imgShow" id="imgShow">
	<img class="imgLink1" src="/images/banner.png"/>
<div class="loginWrap1" id="loginWrap1">
		<p class="loginTitle1">欢迎注册</p>	
<form method="post" id="register">
	<div class="form-group">
		用户名: <input class="form-info" type="text" name="name" />
	</div>
	<div class="form-group">
		登录密码:<input class="form-info" type="password" name="password" />
	</div>
	<div class="form-group">
        确认密码:<input class="form-info" type="password" name="password-repeat" />
	</div>
	<div class="form-group">
        个人邮箱:<input class="form-info" type="email" name="email" />
	</div>
	<div class="form-group">
        手机号码:<input class="form-info" type="phone" name="phone" />
    </div>
    <div class="form-control">
        <input class="region" id="reg1" type="submit" value="注册" />
    </div>
</form>
</div>
</div>
<%-include footer %>
